<!doctype html>
<html th:fragment="header (template, menu)">
<head>
	<meta charset="UTF-8" />
    
    <!-- 
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
          
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Investment Tracker</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    
	<script src="../js/main-js.js"></script>
        
</head>

<body class="container">
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li>
                    <a href="/tradeSummaryController/tradeSummary"><span class="glyphicon glyphicon-user"></span>Trades Summaries (New)</a>
                </li>
                <li>
                    <a href="/tradeController/tradeSummary"><span class="glyphicon glyphicon-user"></span>Trades Summaries</a>
                </li>
                <li>
                    <a href="/tradeEditController/trades"><span class="glyphicon glyphicon-user"></span>View/Edit Trades</a>
                </li>
                <li>
                    <a href="/optionEditController/options"><span class="glyphicon glyphicon-user"></span>View/Edit Options</a>
                </li>
                <li>
                    <a href="/accountsController/accounts"><span class="glyphicon glyphicon-user"></span>Accounts</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="https://www.linkedin.com/in/simonbrummer/" target="_blank"><span class="glyphicon glyphicon-book"></span> Simon Brummer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div th:replace="${template}" ></div>

</body>