<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Options</title>
        

    
</head>
<body class="container">

<div th:if="${#ctx.containsVariable('account')}" class="container">
	<h2>Edit Account</h2>
	<form class="col card p-3 mb-5" th:method="post" th:object="${account}" th:action="@{'/accountsController/addUpdateAccount'}">
	<label class="alert alert-warning" th:if="${#fields.hasErrors('brokerage')}" th:errors="*{brokerage}">Name Error</label>
		<input name="id" th:value="${account?.id}" type="hidden" />
		<div class="form-group">
			<label for="name">Account Name</label>
			<input class="form-control" name="name" placeholder="Enter Account Name" th:value="${account.name}" type="text" />
		</div>
		<div class="form-group">
			<label for="number">Account Number</label>
			<input class="form-control" name="number" placeholder="Enter Account Number" th:value="${account.number}" type="text" />
		</div>
		<div class="form-group">
			<label for="description">Account Description</label>
			<input class="form-control" name="description" placeholder="Enter Account Description" th:value="${account.description}" type="text" />
		</div>
		<div class="form-group">
			<label for="description">Account Brokerage Type</label>
			<select class="form-control" id="brokerageDropdownList" name="brokerage" >
				<option value="">Select Brokerage Type</option>
				<option th:each="brokerage : ${brokerages}" th:value="${brokerage.type}" th:text="${brokerage.name}" th:selected="${brokerage.type == account.brokerage}" ></option>
			</select>
		</div>
		<label class="alert alert-warning" th:if="${#ctx.containsVariable('accountSelectionErrort')}" th:text="${accountSelectionErrort}">error</label>
		<input class="btn btn-primary" type="submit" value="Add/Update Account" />
		<input class="btn btn-primary" type="button" onclick="window.location.replace('/accountsController/accounts')" value="Cancel" />
	</form>
</div>
	
</body>
</html>