<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accounts</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">
<div class="container">
	
	<h1>Accounts</h1>
	<h2></h2>

    <table class="table table-striped table-bordered">
		<tr>
			<td>Account Name</td>
			<td>Account Number</td>
			<td>Account Description</td>
			<td>Actions</td>
			
		</tr>
		<tr th:if="${#lists.isEmpty(accounts)}">
			<td colspan="3">No Accounts found.</td>
		</tr>
		<tr th:each="account : ${accounts}">
			<td th:text="${account.name}"></td>
			<td th:text="${account.number}"></td>
			<td th:text="${account.description}"></td>
			<td><a href="" th:href="@{/accountsController/editAccount(id=${account.id})}">Edit Account</a> | 
			<a href="" th:href="@{/accountsController/deleteAccount(id=${account.id})}">Delete Account</a></td>
		</tr>
	</table>	
</div>
<div th:if="${#ctx.containsVariable('account')}" class="container">
	<h2>Edit Account</h2>
	<form class="col card p-3 mb-5" th:method="post" th:action="@{'/accountsController/addUpdateAccount'}">
		<input name="id" th:value="${account?.id}" type="hidden" />
		<div class="form-group">
			<label for="name">Account Name</label>
			<input class="form-control" name="name" placeholder="Enter Account Name" th:value="${account.name}" type="text" />
		</div>
		<div class="form-group">
			<label for="number">Account Number</label>
			<input class="form-control" name="number" placeholder="Enter Account Number" th:value="${account.number}" type="text" />
		</div>
		<div class="form-group">
			<label for="description">Account Description</label>
			<input class="form-control" name="description" placeholder="Enter Account Description" th:value="${account.description}" type="text" />
		</div>
		<input class="btn btn-primary" type="submit" value="Update Account" />
		<input class="btn btn-primary" type="button" onclick="window.location.replace('/accountsController/accounts')" value="Cancel" />
	</form>
</div>

<script>
function ShowNewAccountDiv() {
  var x = document.getElementById("newAccount");
  var y = document.getElementById("newAccountButton")
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML="Cancel New Account";
  } else {
    x.style.display = "none";
    y.innerHTML="Add New Account";
  }
}
</script>
<div class="container" id="newAccount" style="display:none;">
	<h2>Add New Account</h2>
	<form class="col card p-3 mb-5" th:method="post" th:action="@{'/accountsController/addUpdateAccount'}">
		<div class="form-group">
			<label for="name">Account Name</label>
			<input class="form-control" name="name" placeholder="Enter Account Name" value="" type="text" />
		</div>
		<div class="form-group">
			<label for="number">Account Number</label>
			<input class="form-control" name="number" placeholder="Enter Account Number" value="" type="text" />
		</div>
		<div class="form-group">
			<label for="description">Account Description</label>
			<input class="form-control" name="description" placeholder="Enter Account Description" value="" type="text" />
		</div>
		<input class="btn btn-primary" type="submit" value="Save New Account" />
		
	</form>
</div>
<div class="container"><br>
	<button class="btn btn-primary" id="newAccountButton" value="Add New Account" onclick="ShowNewAccountDiv()">Add New Account</button>
</div>

</body>
</html>
