<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
	
	<title>Import Option Trade</title>
    
</head>
<body class="container">
<div class="container">
	
	<h1>Import Options History</h1>
	<h2></h2>
	
	<div>Select Account</div>
	<div class="row g-3">
		<form th:method="post" th:action="importOptionsHistory" th:object="${selectedAccount}"> 
			<div class="col-sm-3">
				<select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" id="accountDropdownList" name="selectedAccount" onchange="this.form.submit()"  >
					<option value="">Select Account</option>
					<option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}" th:selected="${session.selectedAccount?.id == account.id}" ></option>
				</select>
				<label class="text-danger" th:if="${errorMessage}" th:text="${errorMessage}">Quantity Error</label>
			</div>
		<div class="col-sm">
		
		</div>
		</form>
	</div>
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/optionImportController/importOptionsHistoryFile">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>
</body>
</html>	