<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trade Transaction Summaries</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">

<div class="container">
	
	<h1>Trade Transaction Summaries</h1>
	<h2></h2>
	<div class="col-sm-3">
		<form th:method="get" th:action="trades" th:object="${selectedAccount}"> 
			<select class="form-select form-select-sm mb-1" id="accountDropdownList" name="selectedAccountId" onchange="this.form.submit()"  >
				<option value="">Select Account</option>
				<option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}" th:selected="${selectedAccount?.id == account.id}" ></option>
			</select>
			<label class="alert alert-warning" th:if="${#ctx.containsVariable('accountSelectionError')}" th:text="${accountSelectionError}">error</label>
		</form>
		
		<form th:method="post" th:action="tradesByStatus" th:object="${selectedTransactionStatusType}"> 
			<select class="form-select form-select-sm mb-1" aria-label=".form-select-lg example" id="transactionStatusTypeDropdownList" name="selectedTransactionStatusType" onchange="this.form.submit()"  >
				<option th:each="transactionStatusType : ${transactionStatusTypes}" th:value="${transactionStatusType.value}" th:text="${transactionStatusType.name}" th:selected="${selectedTransactionStatusType?.value == transactionStatusType.value}" ></option>
			</select>
		</form>
		<form th:method="post" th:action="tradesBySymbol" th:object="${selectedTransactionSymbol}"> 
			<select class="form-select form-select-sm mb-1" aria-label=".form-select-lg example" id="transactionSymbolDropdownList" name="selectedTransactionSymbol" onchange="this.form.submit()"  >
				<option value="">All Symbols</option>
				<option th:each="symbol : ${symbols}" th:value="${symbol}" th:text="${symbol}" th:selected="${selectedTransactionSymbol == symbol}" ></option>
			</select>
		</form>
		<form th:method="post" th:action="tradesByOptionType" th:object="${selectedTransactionOptionType}"> 
			<select class="form-select form-select-sm mb-1" aria-label=".form-select-lg example" id="transactionOptionTypeDropdownList" name="selectedTransactionOptionType" onchange="this.form.submit()"  >
				<option th:each="optionType : ${optionTypes}" th:value="${optionType.value}" th:text="${optionType.typeName}" th:selected="${selectedTransactionOptionType == optionType.value}" ></option>
			</select>
		</form>
	</div>
	<table th:if="${tradeSummary}" class="table table-bordered">
		<thead class="table-secondary">
			<tr>
				<th>Total Option Premium</th>
				<th>Average Option Return</th>
				<th>Average Option Annualized Return</th>
			</tr>
		</thead>
		<tr>
			<td th:class="${tradeSummary?.totalGainLoss != null && tradeSummary?.totalGainLoss > 0 ? 'fs-6 bg-success text-white' : '' }" 
				th:attr="class=${tradeSummary?.totalGainLoss != null && tradeSummary?.totalGainLoss < 0 ? 'fs-6 bg-danger text-white' : '' }"
				th:text="${#numbers.formatCurrency(tradeSummary?.totalGainLoss)}"></td>
			
			
			<td th:if="${tradeSummary.averageOptionReturn != null}"
				th:class="${tradeSummary?.averageOptionReturn > 0 ? 'fs-6 bg-success text-white' : '' }" 
				th:attr="class=${tradeSummary?.averageOptionReturn < 0 ? 'fs-6 bg-danger text-white' : '' }" 
				th:text="${tradeSummary?.averageOptionReturn}+'%'"></td>
			<td th:if="${tradeSummary?.averageOptionReturn == null}"></td>
			
			<td th:if="${tradeSummary.averageOptionAnnualizedReturn != null}"
				th:class="${tradeSummary?.averageOptionAnnualizedReturn > 0 ? 'fs-6 bg-success text-white' : 'fs-6 bg-danger text-white' }" 
				th:attr="class=${tradeSummary?.averageOptionAnnualizedReturn < 0 ? 'fs-6 bg-danger text-white' : '' }"
				th:text="${tradeSummary?.averageOptionAnnualizedReturn}+'%'"></td>
			<td th:if="${tradeSummary?.averageOptionAnnualizedReturn == null}"></td>
			
		</tr>
	</table>
	<th:block th:each="trade : ${trades}">
		<th:block th:if="${not #lists.isEmpty(trade.optionTransactionSummaries)}" >
			<table class="table table-bordered table-hover"> <!-- table-striped  -->
				<thead class="table-secondary">
				<tr>
					<th>Symbol</th>
					<th>Quantity</th>
					<th>Account</th>
					<th>Date Acquired</th>
					<th>Date Sold</th>
					<th>Proceeds</th>
					<th>Cost Basis</th>
					<th>Adjusted Cost Basis</th>
					<th>Total Option Gain/Loss</th>
					<th>Average Option Return</th>
					<th>Average Option Annualized Return</th>
				</tr>
				</thead>
				<tr th:if="${#lists.isEmpty(trades)}">
					<td colspan="12">No Trades found.</td>
				</tr>
					<tr class="table-light">
						<td class="fs-6" th:text="${trade.symbol}"></td>
						<td class="fs-6" th:text="${trade.quantity}"></td>
						<td class="fs-6" style="width: 6rem;" th:text="${trade.account?.name}"></td>
						<td class="fs-6" th:text="${trade.dateAcquired}"></td>
						<td class="fs-6" th:text="${trade.dateSold}"></td>
						<td class="fs-6" th:text="${#numbers.formatCurrency(trade.proceeds)}"></td>
						<td class="fs-6" th:text="${#numbers.formatCurrency(trade.costBasis)}"></td>
						<td class="fs-6" th:text="${#numbers.formatCurrency(trade.adjustedCostBasis)}"></td>
						<td th:class="${trade.totalGainLoss != null && trade.totalGainLoss > 0 ? 'fs-6 bg-success text-white' : '' }" 
							th:attr="class=${trade.totalGainLoss != null && trade.totalGainLoss < 0 ? 'fs-6 bg-danger text-white' : '' }"
						    th:text="${#numbers.formatCurrency(trade.totalGainLoss)}"></td>
						
						<td th:if="${trade.averageOptionReturn != null}"
							th:class="${trade.averageOptionReturn > 0 ? 'fs-6 bg-success text-white' : '' }" 
							th:attr="class=${trade.averageOptionReturn < 0 ? 'fs-6 bg-danger text-white' : '' }" 
							th:text="${trade.averageOptionReturn}+'%'"></td>
						<td th:if="${trade.averageOptionReturn == null}"></td>
						
						<td th:if="${trade.averageOptionAnnualizedReturn != null}"
							th:class="${trade.averageOptionAnnualizedReturn > 0 ? 'fs-6 bg-success text-white' : 'fs-6 bg-danger text-white' }" 
							th:attr="class=${trade.averageOptionAnnualizedReturn < 0 ? 'fs-6 bg-danger text-white' : '' }"
							th:text="${trade.averageOptionAnnualizedReturn}+'%'"></td>
						<td th:if="${trade.averageOptionAnnualizedReturn == null}"></td>
						
					</tr>
					<tr>
						<td colspan="12">
							<table class="table table-bordered table-sm">
								<thead class="table-secondary">
								<tr>
									<th>Option Symbol</th>
									<th>Date Acquired</th>
									<th>Expiration Date</th>
									<th>Strike Price</th>
									<th>Quantity</th>
									<th>Cost Basis</th>
									<th>Proceeds</th>
									<th>Gain/Loss</th>
									<th>Date Closed</th>
									<th>Return %</th>
									<th>Return % Annualized</th>
								</tr>
								</thead>
								<tr th:each="transaction : ${trade.optionTransactionSummaries}">
									<td class="fs-6" th:text="${transaction.optionSymbol}"></td>
									<td class="fs-6" th:text="${transaction.dateAcquired}"></td>
									<td class="fs-6" th:text="${transaction.expirationDate}"></td>
									<td class="fs-6" th:text="'$'+${transaction.strikePrice}"></td>
									<td th:class="${transaction.quantity < 0 ? 'fs-6 bg-danger text-white' : 'fs-6 bg-success text-white' }" th:text="${transaction.quantity}"></td>
									<td class="fs-6" th:text="'$'+${transaction.costBasis}"></td>
									<td class="fs-6" th:text="${transaction.proceeds} ? '$'+${transaction?.proceeds} : ${transaction?.proceeds}"></td>
									<td th:class="${transaction.gainLoss < 0 ? 'fs-6 bg-danger text-white' : 'fs-6 bg-success text-white' }" th:text="'$'+${transaction.gainLoss}"></td>
									<td class="fs-6" th:text="${transaction.dateClosed}"></td>
									<td th:if="${transaction.returnPercentage != null}"
										th:class="${transaction.returnPercentage < 0 ? 'fs-6 bg-danger text-white' : 'fs-6 bg-success text-white' }" th:text="${transaction.returnPercentage} + '%'"></td>
									<td class="fs-6" th:if="${transaction.returnPercentage == null}"></td>
									
									<td th:if="${transaction.returnPercentageAnnualized != null}"
										th:class="${transaction.returnPercentageAnnualized < 0 ? 'fs-6 bg-danger text-white' : 'fs-6 bg-success text-white' }" th:text="${transaction.returnPercentageAnnualized} + '%'"></td>
									<td class="fs-6" th:if="${transaction.returnPercentageAnnualized == null}"></td>
								</tr>
							</table>
						</td>
					</tr>
			</table>
		</th:block>
	</th:block>
</div>
</body>
</html>