<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trades</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">
<div class="container">
	
	<h1>Trades</h1>
	<h2></h2>
	
	<div>Select Account</div>
	<form th:method="post" th:action="tradesByAccount" th:object="${selectedAccount}"> 
	<select class="form-control" id="accountDropdownList" name="selectedAccount" onchange="this.form.submit()"  >
		<option value="">Select Account</option>
		<option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}" th:selected="${session.selectedAccount?.id == account.id}" ></option>
	</select>
	</form>

    <table class="table table-striped table-bordered">
		<tr>
			<th>Symbol</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Account</th>
			<th>Date Acquired</th>
			<th>Date Sold</th>
			<th>Proceeds</th>
			<th>Cost Basis</th>
			<th>Short Term Gain/Loss</th>
			<th>Long Term Gain/Loss</th>
			<th>Action</th>
		</tr>
		<tr th:if="${#lists.isEmpty(trades)}">
			<td colspan="10">No Trade found.</td>
		</tr>
		<th:block th:each="trade : ${trades}">
			<tr><td colspan="11">Stock</td></tr>
			<tr>
				<td th:text="${trade.symbol}"></td>
				<td th:text="${trade.description}"></td>
				<td th:text="${trade.quantity}"></td>
				<td th:text="${trade.account?.name}"></td>
				<td th:text="${trade.dateAcquired}"></td>
				<td th:text="${trade.dateSold}"></td>
				<td th:text="${trade.proceeds}"></td>
				<td th:text="${trade.costBasis}"></td>
				<td th:text="${trade.shortTermGain}"></td>
				<td th:text="${trade.longTermGain}"></td>
				<td><a href="" th:href="@{/tradeController/editTrade(id=${trade.id})}">Edit Trade</a> | 
				<a href="" th:href="@{/tradeController/deleteTrade(id=${trade.id})}">Delete Trade</a></td>
			</tr>
			<tr th:if="${#lists.isEmpty(trade.options)}" >
			<tr>
				<td colspan="10">No Options Found.</td>
				<td><button class="btn btn-primary" id="newOptionTradeButton" value="Add New Option Trade" onclick="showNewOptionTradeDiv()">Add New Option Trade</button></td>
			</tr>
			<tr>
				<td colspan="11">
					<div class="container" id="newOption" style="display:none;">
						<h2>Add New Option Trade</h2>
						<form class="col card p-3 mb-5" th:method="post" onsubmit="disableDates(this);" th:action="@{'/tradeController/addUpdateOption'}">
							<div class="form-group">
								<label for="symbol">Symbol</label>
								<input class="form-control" name="symbol" placeholder="Enter Security Symbol" value="" type="text" />
							</div>
							<div class="form-group">
								<label for="symbol">Option Symbol</label>
								<input class="form-control" name="optionSymbol" placeholder="Enter Option Symbol" value="" type="text" />
							</div>
							<div class="form-group">
								<label for="description">Description</label>
								<input class="form-control" name="description" placeholder="Enter Security Description" value="" type="text" />
							</div>
							<div class="form-group">
								<label for="account">Account</label>
								<label class="form-group" th:value="${selectedAccount?.name}" ></label>
								<div th:if="${session.containsKey('selectedAccount')}" th:text="${session.selectedAccount?.name}"></div>
								<input name="account" th:if="${session.containsKey('selectedAccount')}" th:value="${session.selectedAccount?.id}" type="hidden" />
							</div>
							<div class="form-group">
								<label for="quantity">Quantity</label>
								<input class="form-control" name="quantity" placeholder="Enter Quantity" value="" step="0.001" type="number" />
							</div>
							<div class="form-group">
								<label for="quantity">Strike Price</label>
								<input class="form-control" name="strikePrice" placeholder="Enter Strike Price" value="" step="0.001" type="number" />
							</div>
							<div class="form-group">
								<label for="expirationDate">Expiration Date</label>
								<input class="form-control" id="xpirationDate" name="expirationDate" placeholder="Enter Expiration Date" type="date" />
							</div>
							<div class="form-group">
								<label for="dateAcquired">Date Acquired</label>
								<input class="form-control" id="newDateAcquired" name="dateAcquired" placeholder="Enter Date Acquired" type="date" />
							</div>
							<div class="form-group">
								<label for="dateSold">Date Sold</label>
								<input class="form-control" name="dateSold" placeholder="Enter Date Sold" value="" type="date" />
							</div>
							<div class="form-group">
								<label for="proceeds">Proceeds</label>
								<input class="form-control" name="proceeds" placeholder="Enter Proceeds" value="" step="0.001" type="number" />
							</div>
							<div class="form-group">
								<label for="proceeds">Cost Basis</label>
								<input class="form-control" name="costBasis" placeholder="Enter Cost Basis" value="" step="0.001" type="number" />
							</div>
							<div class="form-group">
								<label for="shortTermGain">Short Term Gain</label>
								<input class="form-control" name="shortTermGain" placeholder="Enter Short Term Gain" value="" step="0.001" type="number" />
							</div>
							<div class="form-group">
								<label for="longTermGain">Long Term Gain</label>
								<input class="form-control" name="longTermGain" placeholder="Enter LongTerm Gain" value="" step="0.001" type="number" />
							</div>
							
							<input class="btn btn-primary" type="submit" value="Save New Option Trade" />
						</form>
					</div>
				</td>
			</tr>
			<tr th:if="${!#lists.isEmpty(trade.options)}" >
				<td>Symbol</td>
				<td>Description</td>
				<td>Quantity</td>
				<td>Account</td>
				<td>Date Acquired</td>
				<td>Date Sold</td>
				<td>Proceeds</td>
				<td>Cost Basis</td>
				<td>Short Term Gain/Loss</td>
				<td>Long Term Gain/Loss</td>
				<td>Action</td>
			</tr>
			<tr th:each="option : ${trade.options}">
				<td th:text="${option.symbol}"></td>
				<td th:text="${option.description}"></td>
				<td th:text="${option.quantity}"></td>
				<td th:text="${option.account?.name}"></td>
				<td th:text="${option.dateAcquired}"></td>
				<td th:text="${option.dateSold}"></td>
				<td th:text="${option.proceeds}"></td>
				<td th:text="${option.costBasis}"></td>
				<td th:text="${option.shortTermGain}"></td>
				<td th:text="${option.longTermGain}"></td>
				<td><a href="" th:href="@{/tradeController/editTrade(id=${trade.id})}">Edit Trade</a> | 
				<a href="" th:href="@{/tradeController/deleteTrade(id=${trade.id})}">Delete Trade</a></td>
			</tr>
		</th:block>
		<!-- 
		<tr th:each="trade : ${trades}">
			<td th:text="${trade.symbol}"></td>
			<td th:text="${trade.description}"></td>
			<td th:text="${trade.quantity}"></td>
			<td th:text="${trade.account?.name}"></td>
			<td th:text="${trade.dateAcquired}"></td>
			<td th:text="${trade.dateSold}"></td>
			<td th:text="${trade.proceeds}"></td>
			<td th:text="${trade.costBasis}"></td>
			<td th:text="${trade.shortTermGain}"></td>
			<td th:text="${trade.longTermGain}"></td>
			<td><a href="" th:href="@{/tradeController/editTrade(id=${trade.id})}">Edit Trade</a> | 
			<a href="" th:href="@{/tradeController/deleteTrade(id=${trade.id})}">Delete Trade</a></td>
		</tr>
		-->
	</table>	
</div>
<div th:if="${#ctx.containsVariable('trade')}" class="container">
	<h2>Add/Edit Trade</h2>
	<form class="col card p-3 mb-5" th:method="post" onsubmit="disableDates(this);" th:object="${trade}" th:action="@{'/tradeController/addUpdateTrade'}">
		<input name="id" th:value="${trade?.id}" type="hidden" />
		<div class="form-group">
			<label for="symbol">Symbol</label>
			<label class="alert alert-warning" th:if="${#fields.hasErrors('symbol')}" th:errors="*{symbol}">Symbol Error</label>
			<input class="form-control" name="symbol" placeholder="Enter Security Symbol" th:value="*{symbol}" type="text" />
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input class="form-control" name="description" placeholder="Enter Security Description" th:value="${trade.description}" type="text" />
		</div>
		<!-- 
		<div class="form-group">
			<label for="account">Account</label>
			<label class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}">Quantity Error</label>
			<select class="form-control" id="accountDropdownList" name="account" th:field="${trade.account}">
				<option value="">Select Account</option>
				<option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}"></option>
			</select>
		</div>
		-->
		<div class="form-group">
			<label for="account">Account</label>
			<label class="form-group" th:value="${selectedAccount?.name}" ></label>
			<div th:if="${session.containsKey('selectedAccount')}" th:text="${session.selectedAccount?.name}"></div>
			<input name="account" th:if="${session.containsKey('selectedAccount')}" th:value="${session.selectedAccount?.id}" type="hidden" />
		</div>
		<div class="form-group">
			<label for="quantity">Quantity</label>
			<label class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</label>
			<input class="form-control" name="quantity" placeholder="Enter Quantity" th:value="${trade.quantity}" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="dateAcquired">Date Acquired</label>
			<input class="form-control" name="dateAcquired" placeholder="Enter Date Acquired" th:field="*{dateAcquired}" type="date" />
		</div>
		<div class="form-group">
			<label for="dateSold">Date Sold</label>
			<input class="form-control" name="dateSold" placeholder="Enter Date Sold" th:value="${trade.dateSold}" type="date" />
		</div>
		<div class="form-group">
			<label for="proceeds">Proceeds</label>
			<input class="form-control" name="proceeds" placeholder="Enter Proceeds" th:value="${trade.proceeds}" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="proceeds">Cost Basis</label>
			<input class="form-control" name="costBasis" placeholder="Enter Cost Basis" th:value="${trade.costBasis}" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="shortTermGain">Short Term Gain</label>
			<input class="form-control" name="shortTermGain" placeholder="Enter Short Term Gain" th:value="${trade.shortTermGain}" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="longTermGain">Long Term Gain</label>
			<input class="form-control" name="longTermGain" placeholder="Enter LongTerm Gain" th:value="${trade.longTermGain}" step="0.001" type="number" />
		</div>
		
		<input class="btn btn-primary" type="submit" value="Update Trade"/>
		<input class="btn btn-primary" type="button" onclick="window.location.replace('/tradeController/trades')" value="Cancel" />
	</form>
</div>

<script>
function showNewOptionTradeDiv() {
	  var x = document.getElementById("newOption");
	  var y = document.getElementById("newOptionTradeButton")
	  if (x.style.display === "none") {
	    x.style.display = "block";
	    y.innerHTML="Cancel New Option Trade";
	  } else {
	    x.style.display = "none";
	    y.innerHTML="Add New Option Trade";
	  }
	}

function showNewTradeDiv() {
  var x = document.getElementById("newTrade");
  var y = document.getElementById("newTradeButton")
  if (x.style.display === "none") {
    x.style.display = "block";
    y.innerHTML="Cancel New Trade";
  } else {
    x.style.display = "none";
    y.innerHTML="Add New Trade";
  }
}

function disableDates(form) {
	
	var elements = form.elements;

	for (var i = 0, element; element = elements[i++];) {
	    if (element.type === "date" && element.value === "")
	        element.disabled = true;
	}
	
}
</script>
<div class="container" id="newTrade" style="display:none;">
	<h2>Add New Trade</h2>
	<form class="col card p-3 mb-5" th:method="post" onsubmit="disableDates(this);" th:action="@{'/tradeController/addUpdateTrade'}">
		<div class="form-group">
			<label for="symbol">Symbol</label>
			<input class="form-control" name="symbol" placeholder="Enter Security Symbol" value="" type="text" />
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input class="form-control" name="description" placeholder="Enter Security Description" value="" type="text" />
		</div>
		<div class="form-group">
			<label for="account">Account</label>
			<label class="form-group" th:value="${selectedAccount?.name}" ></label>
			<div th:if="${session.containsKey('selectedAccount')}" th:text="${session.selectedAccount?.name}"></div>
			<input name="account" th:if="${session.containsKey('selectedAccount')}" th:value="${session.selectedAccount?.id}" type="hidden" />
		</div>
		<div class="form-group">
			<label for="quantity">Quantity</label>
			<input class="form-control" name="quantity" placeholder="Enter Quantity" value="" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="dateAcquired">Date Acquired</label>
			<input class="form-control" id="newDateAcquired" name="dateAcquired" placeholder="Enter Date Acquired" type="date" />
		</div>
		<div class="form-group">
			<label for="dateSold">Date Sold</label>
			<input class="form-control" name="dateSold" placeholder="Enter Date Sold" value="" type="date" />
		</div>
		<div class="form-group">
			<label for="proceeds">Proceeds</label>
			<input class="form-control" name="proceeds" placeholder="Enter Proceeds" value="" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="proceeds">Cost Basis</label>
			<input class="form-control" name="costBasis" placeholder="Enter Cost Basis" value="" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="shortTermGain">Short Term Gain</label>
			<input class="form-control" name="shortTermGain" placeholder="Enter Short Term Gain" value="" step="0.001" type="number" />
		</div>
		<div class="form-group">
			<label for="longTermGain">Long Term Gain</label>
			<input class="form-control" name="longTermGain" placeholder="Enter LongTerm Gain" value="" step="0.001" type="number" />
		</div>
		
		<input class="btn btn-primary" type="submit" value="Save New Trade" />
	</form>
</div>

<div class="container"><br>
	<button class="btn btn-primary" id="newTradeButton" value="Add New Trade" onclick="showNewTradeDiv()">Add New Trade</button>
</div>

</body>
</html>
