<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trade Transaction Summaries</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body class="container">

<div class="container">
	
	<h1>Trade Transaction Summaries</h1>
	<h2></h2>
	<div class="col-sm-3">
		<form th:method="get" th:action="trades" th:object="${selectedAccount}"> 
			<select class="form-select form-select-sm mb-1" id="accountDropdownList" name="selectedAccountId" onchange="this.form.submit()"  >
				<option value="">Select Account</option>
				<option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.name}" th:selected="${selectedAccount?.id == account.id}" ></option>
			</select>
			<label class="alert alert-warning" th:if="${#ctx.containsVariable('accountSelectionErrort')}" th:text="${accountSelectionErrort}">error</label>
		</form>
		
		<form th:method="post" th:action="tradesByStatus" th:object="${selectedTransactionStatusType}"> 
			<select class="form-select form-select-sm mb-1" aria-label=".form-select-lg example" id="transactionStatusTypeDropdownList" name="selectedTransactionStatusType" onchange="this.form.submit()"  >
				<option th:each="transactionStatusType : ${transactionStatusTypes}" th:value="${transactionStatusType.value}" th:text="${transactionStatusType.name}" th:selected="${selectedTransactionStatusType?.value == transactionStatusType.value}" ></option>
			</select>
		</form>
		<form th:method="post" th:action="tradesBySymbol" th:object="${selectedTransactionSymbol}"> 
			<select class="form-select form-select-sm mb-1" aria-label=".form-select-lg example" id="transactionSymbolDropdownList" name="selectedTransactionSymbol" onchange="this.form.submit()"  >
				<option value="">Select Symbol</option>
				<option th:each="symbol : ${symbols}" th:value="${symbol}" th:text="${symbol}" th:selected="${selectedTransactionSymbol == symbol}" ></option>
			</select>
		</form>
	</div>
	<div class="col-sm-3">
		<input class="btn btn-primary" type="button" onclick="window.location.replace('/tradeTransactionSummaryController/addTrade')" value="Create New Trade Transaction Summary" />
	</div>
	
	<table class="table table-striped table-bordered">
		<tr>
			<th>Symbol</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Account</th>
			<th>Date Acquired</th>
			<th>Date Sold</th>
			<th>Proceeds</th>
			<th>Cost Basis</th>
			<th>Adjusted Cost Basis</th>
			<th>Total Option Gain/Loss</th>
			<th>Average Option Return</th>
			<th>Average Option Annualized Return</th>
			<!-- 
			<th>Short Term Gain/Loss</th>
			<th>Long Term Gain/Loss</th>
			<th>Action</th>
			-->
		</tr>
		<tr th:if="${#lists.isEmpty(trades)}">
			<td colspan="12">No Trades found.</td>
		</tr>
		<th:block th:each="trade : ${trades}">
			<tr>
				<td th:text="${trade.symbol}"></td>
				<td th:text="${trade.description}"></td>
				<td th:text="${trade.quantity}"></td>
				<td th:text="${trade.account?.name}"></td>
				<td th:text="${trade.dateAcquired}"></td>
				<td th:text="${trade.dateSold}"></td>
				<td th:text="${#numbers.formatCurrency(trade.proceeds)}"></td>
				<td th:text="${#numbers.formatCurrency(trade.costBasis)}"></td>
				<td th:text="${#numbers.formatCurrency(trade.adjustedCostBasis)}"></td>
				<td th:class="${trade.totalGainLoss < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="${#numbers.formatCurrency(trade.totalGainLoss)}"></td>
				<td th:class="${trade.averageOptionReturn < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="${trade.averageOptionReturn}+'%'"></td>
				<td th:class="${trade.averageOptionAnnualizedReturn < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="${trade.averageOptionAnnualizedReturn}+'%'"></td>
				<!-- 
				<td th:text="${trade.shortTermGain}"></td>
				<td th:text="${trade.longTermGain}"></td>
				<td><a href="" th:href="@{/tradeController/editTrade(id=${trade.id})}">Edit Trade</a> | 
				<a href="" th:href="@{/tradeController/deleteTrade(id=${trade.id})}">Delete Trade</a></td>
				-->
			</tr>
			<th:block th:if="${#lists.isEmpty(trade.optionTransactionSummaries)}" >
				<tr><td colspan="12">No Options Found</td></tr>
			</th:block>
			<th:block th:if="${not #lists.isEmpty(trade.optionTransactionSummaries)}" >
				<tr>
					<td colspan="12">
						<table class="table table-bordered">
							<tr>
								<td>Option Symbol</td>
								<td>Date Acquired</td>
								<td>Expiration Date</td>
								<td>Strike Price</td>
								<td>Quantity</td>
								<td>Cost Basis</td>
								<td>Proceeds</td>
								<td>Gain/Loss</td>
								<td>Date Closed</td>
								<td>Return %</td>
								<td>Return % Annualized</td>
							</tr>
							<tr th:each="transaction : ${trade.optionTransactionSummaries}">
								<td th:text="${transaction.optionSymbol}"></td>
								<td th:text="${transaction.dateAcquired}"></td>
								<td th:text="${transaction.expirationDate}"></td>
								<td th:text="'$'+${transaction.strikePrice}"></td>
								<td th:class="${transaction.quantity < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="${transaction.quantity}"></td>
								<td th:text="'$'+${transaction.costBasis}"></td>
								<td th:text="${transaction.proceeds} ? '$'+${transaction?.proceeds} : ${transaction?.proceeds}"></td>
								<td th:class="${transaction.gainLoss < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="'$'+${transaction.gainLoss}"></td>
								<td th:text="${transaction.dateClosed}"></td>
								<td th:class="${transaction.returnPercentage < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="${transaction.returnPercentage} + '%'"></td>
								<td th:class="${transaction.returnPercentageAnnualized < 0 ? 'p-3 mb-2 bg-danger text-white' : 'p-3 mb-2 bg-success text-white' }" th:text="${transaction.returnPercentageAnnualized} + '%'"></td>
							</tr>
						</table>
					</td>
				</tr>
			</th:block>
		</th:block>
	</table>
	
</div>
</body>
</html>