<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{fragments/header :: header (~{::body},'db')}">
<head>
	
	<title>Import Option Trade</title>
    
</head>
<body class="container">

<div class="container">
	
	<h1>Import Transactions</h1>
	<h2></h2>
	
	<div class="row g-3">
		<form method="POST" enctype="multipart/form-data" action="/transactionController/importTransactionsFile"> 
			<div th:if="${message}">
				<h2 th:text="${message}"/>
			</div>
			<div>
				<table>
					<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
					<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
				</table>
			</div>

		</form>
	</div>
</div>

</body>
</html>	